<h1>*NGIF</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Nicolas'; else elseBlock">My Content</p>
<p *ngIf="person.name === 'Julian'; else elseBlock">My Other Content</p>
<ng-template #elseBlock>
  <p>Else</p>
</ng-template>
<hr>
<h1>NG MODEL</h1>
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input type="number" max="18" #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>

<hr>
<h1>Hola Mundo</h1>
<hr>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">increaseAge</button>


<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius, sequi fugiat in non eaque exercitationem ea
    nisi eveniet, neque tempore accusamus reprehenderit consequuntur laborum sint deleniti amet ipsam quis.Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Aliquam eius, sequi fugiat in non eaque exercitationem ea nisi eveniet,
    neque tempore accusamus reprehenderit consequuntur laborum sint deleniti amet ipsam quis.Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Aliquam eius, sequi fugiat in non eaque exercitationem ea nisi eveniet, neque tempore
    accusamus reprehenderit consequuntur laborum sint deleniti amet ipsam quis.</p>
</div>

<input type="text" (keyup)="changeName($event)" [value]="person.name">


<hr>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<h2>{{ 'Hola Mundo' }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ person.name }} y tengo {{ person.age }}</h3>
<img [src]="img" alt="">
